table {
			border-collapse: collapse;
			border: 1px solid black;
		}
		caption { font-weight: bold;
			font-weight: bold;
			text-align: center;
		    font-size: 135%;
	        padding-bottom: .5em;
			color: #800000;}

			
		thead {
			background-color: steelblue;
			font{ color: white;}
		}
		th, td {
			border-bottom: 1px solid black;
			border-top: 1px solid black;
			padding: .35em 1em .35em .5em;
			text-align: left;
			vertical-align: middle;
		}
		tr:first-child td:first-child,
		tr:nth-child(4) td:first-child,
		tr:nth-child(6) td:first-child {vertical-align: top;
		        font-weight: bold;}									
				
	     tfoot {background-color: lightgreen;
	     }
		 
	     tfoot th {text-align: right;}
		 tfoot td {text-align: right;
	       font-weight: bold;}

       body td:last-child {
        text-align: right;
        }

		/* the media query for the page */
@media only screen and (max-width: 640px) {
	body {
		width: 80%;
		max-width: 280px;
	}

	table {width: 100%;}

	th, td {display: block;}

     /*borders*/
	tbody td {border-bottom: none;}
	thead {display: none;}

           /*Names gray w header color*/
	tbody tr:first-child td:nth-child(2),
	tbody tr:nth-child(4) td:nth-child(2),
	tbody tr:nth-child(6) td:nth-child(2),
	        /*Names gray w/o header color*/
	tbody tr:nth-child(2) td:first-child,
	tbody tr:nth-child(3) td:first-child,
	tbody tr:nth-child(5) td:first-child,
	tbody tr:nth-child(7) td:first-child {
		background-color: lightgray;
	}
          /*Headers backgroud*/
	tbody tr:first-child td:first-child {background-color: lightgreen;
	border-bottom: none;
    border-top: none;}
	tbody tr:nth-child(4) td:first-child,
	tbody tr:nth-child(6) td:first-child {background-color: lightgreen;
	border-bottom: none;}
         /*Last row captions w header*/
	tbody tr:first-child td:nth-of-type(4)::before,
	tbody tr:nth-child(4) td:nth-of-type(4)::before,
    tbody tr:nth-child(6) td:nth-of-type(4)::before,
         /*Last row captions w/o header*/
    tbody tr:nth-child(2) td:nth-of-type(3)::before,
	tbody tr:nth-child(3) td:nth-of-type(3)::before,
	tbody tr:nth-child(5) td:nth-of-type(3)::before,
	tbody tr:nth-child(7) td:nth-of-type(3)::before {
		content: "Years of Service: ";
	    display: block;}
        /*float: left;}*/
	
	          /*tfoot*/
	tfoot th {display: none;}
	tfoot td {background-color: lightgreen;
	border-bottom: none;
        display: flex;
        justify-content: space-between;}
	tfoot td::before {content: "Total Years of Service: "}

}
