table {
			border-collapse: collapse;
			border: 2px solid black;
		}
		caption { font-weight: bold;
			font-weight: bold;
			text-align: center;
		    font-size: 135%;
			margin-top: 1.5em;
	        padding-bottom: .5em;
			color: #800000;}

			
		thead {
			background-color: steelblue;}

				/*Thead color font*/
	thead th {
		color: white;}

		th, td {
			border: none;
			padding: .35em 1em .35em .5em;
			text-align: left;
			vertical-align: middle;
		}
		tr:first-child td:first-child,
		tr:nth-child(4) td:first-child,
		tr:nth-child(7) td:first-child,
		tr:nth-child(10) td:first-child,
		tr:nth-child(14) td:first-child,
		tr:nth-child(16) td:first-child,
		tr:nth-child(19) td:first-child {vertical-align: top;
		        font-weight: bold;}									

       body td:last-child {
        text-align: right;
        }

		/* the media query for the page */
@media only screen and (max-width: 640px) {
	body {
		width: 80%;
		max-width: 280px;
	}

	table {width: 100%;}

	th, td {display: block;}

     /*borders*/
	thead {display: none;}

          /*Headers backgroud*/
	tbody tr:first-child td:first-child,
	tbody tr:nth-child(4) td:first-child,
	tbody tr:nth-child(7) td:first-child,
	tbody tr:nth-child(10) td:first-child,
	tbody tr:nth-child(14) td:first-child,
	tbody tr:nth-child(16) td:first-child,
	tbody tr:nth-child(19) td:first-child {
	color: white;
	background-color: steelblue;}


	        /*Names bold w header font*/
	tbody tr:first-child td:nth-child(2),
	tbody tr:nth-child(4) td:nth-child(2),
	tbody tr:nth-child(7) td:nth-child(2),
	tbody tr:nth-child(10) td:first-child,
	tbody tr:nth-child(14) td:first-child,
	tbody tr:nth-child(16) td:first-child,
	tbody tr:nth-child(19) td:first-child,
	        /*Names bold w/o header font*/
	tbody tr:nth-child(2) td:first-child,
	tbody tr:nth-child(3) td:first-child,
	tbody tr:nth-child(5) td:first-child,
	tbody tr:nth-child(6) td:first-child,
	tbody tr:nth-child(8) td:first-child,
	tbody tr:nth-child(9) td:first-child,
	tbody tr:nth-child(11) td:first-child,
	tbody tr:nth-child(12) td:first-child,
	tbody tr:nth-child(13) td:first-child,
	tbody tr:nth-child(15) td:first-child,
	tbody tr:nth-child(17) td:first-child,
	tbody tr:nth-child(18) td:first-child,
	tbody tr:nth-child(20) td:first-child,
	tbody tr:nth-child(21) td:first-child,
	tbody tr:nth-child(22) td:first-child,
	tbody tr:nth-child(23) td:first-child,
	tbody tr:nth-child(24) td:first-child,
	tbody tr:nth-child(25) td:first-child {
		font-weight: bold;
	}

	body td:last-child {
        text-align: left;
        }
}
