* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body formatting */
body {
    width: 100%;
    margin: 0 auto 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 0;
}
/* hreft */
a {
    font-weight: bold;
}

/* Header */                                      
 header {                                       
    background: linear-gradient(white, lightsteelblue);
    border-bottom: 2px solid steelblue;
    padding: 15px 25px;
}

header img {
   float: left;
   height: 40%
   width: 40%;
   padding: .5em;
}

header h1 {
    font-style: italic;
    color:steelblue;
    font-size: 200%;
    padding: 0;
}

header h3 {
    font-size: 195%
    margin: 0 0 .5% 0,
    padding: .5em 0 1em 0;
}

header h1, header h3 {
    line-height: 1.2;
}

blockquote{
    padding-left: 1.5em;
}

/* Main */
main {
    clear: left;
    padding: 0 1em 0 1em;
    display: flex;
    flex-direction: row-reverse;
}

/* section links */
section {
    width: 100%;
    margin: 0.5em;
    line-height: 1.5;
    padding: 0 8px;
    flex-basis: 50%;
}

h2 {
    margin: .5em 0 .5em 0;
}

section a:link,
section a:visited {
    color: #800000;
}
section a:hover,
section a:focus {
    color: #4682b4;
}

section p {
    margin-bottom: 10px;
    line-height: 1.5;
}

/* Aside */
aside {
    flex-basis: 25%;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
    border: 3px solid steelblue;
    border-radius: 25px;
    padding: 10px 15px;
    height: fit-content;
    background-color: white;
}

aside h3 {
    margin: .5em 0 .5em 0;
}

aside p {
    margin-bottom: 10px;
    line-height: 1.5;
}

aside h2 {
    color: #800000;
    margin-bottom: 10px;
    text-align: left;
}

aside ul {
    list-style-type: disc;
    margin-left: 20px;
    line-height: 1.5;
}

aside a:link,
aside a:visited {
    color: #4682b4;   
    text-decoration: underline;
}
aside a:hover,
aside a:focus {
    color: #800000;
    text-decoration: underline;
}

/* footer */
footer {
    background-color: steelblue;
    color: white;
    text-align: center;
    padding: 1.5%;;
    font-size: 85%;
    margin-top: 1.5em;
}