video {
    float: left;
    margin: .25em .5em 1em 0;
    width: clamp(150px, 100%, 1300px);    
}

h3 {clear: left;}

audio {
    display: block;
    margin: .25em .5em 1em 0;
    width: 100%;
}